#sidebar
  %ul
    %li#about
      %h2.text1
        %a{ :href => "http://visualcv.com/subbarao"}  Resume
    %li
      %ul
        %li
          %a{:href =>"/past"} Archives
        %li
          %a{ :href => "http://feeds.feedburner.com/subbarao"} 
            %img{:src=> "http://feeds.feedburner.com/~fc/subbarao?bg=99CCFF&amp;fg=444444&amp;anim=0",:height => 26,:width => 88, :style=> "border:0"}
    %li
      #github-badge
      :javascript
        GITHUB_USERNAME="subbarao";
        GITHUB_LIST_LENGTH=10;
        GITHUB_HEAD="div";
      %script{:type=>"text/javascript", :src =>"http://drnicjavascript.rubyforge.org/github_badge/dist/github-badge-launcher.js"}
    %li
      %h2.text1
        %b Tags
